.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -100;
   
    
    
}

.fullscreen-bg__video {
   /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: repeat;
    background-size: cover;
    
    
}
@media screen and (max-device-width: 800px) {
    html {
         background: url(video-bg.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}