<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/resources/1.css">
    <link href="https://use.fontawesome.com/d1341f9b7a.css" media="all" rel="stylesheet">
</head>
<body>
<div class="header">
    <img src="/resources/pngtree-ninja-silhouette-logo-design-png-image_1008462.jpeg" width="50px">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/about-us}" >About Us</a></li>
        <li><a th:href="@{/registration.html}" > Register</a></li>
        <li><a th:href="@{/login}" class="a">Login</a></li>
        <li><a th:href="@{/contact-us}" class="a">Contact Us</a></li>
        <li><a th:href="@{/chat-bot}" class="a"> Chat Bot </a></li>
    </ul>
</div>
<div class="box">
    <div class="imgBx">
        <img src="/resources/img1.jpg">
    </div>
    <div class="content">
        <h2>Anusha<br>
            <span>
                    Backend & Web developer
                </span>
        </h2>
    </div>
    <div class="container">
        <div class="cube">
            <div class="side back facebook">
                <a href="https://www.instagram.com/theunscratchedstories/" target="_blank"><img src="/resources/instagram.png"></a>
            </div>
            <div class="side left gray">

            </div>
            <div class="side front gray">

            </div>
            <div class="side right gray">

            </div>
            <div class="side top gray">

            </div>
            <div class="side bottom gray">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="cube">
            <div class="side back twitter">
                <a href="https://www.linkedin.com/in/anusha-choudhary-9a504a208/" target="_blank"><img src="/resources/linkedin.png"></a>
            </div>
            <div class="side left gray">

            </div>
            <div class="side front gray">

            </div>
            <div class="side right gray">

            </div>
            <div class="side top gray">

            </div>
            <div class="side bottom gray">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="cube">
            <div class="side back black">
                <a href="https://github.com/Anusha3002" target="_blank"><img src="/resources/github.png"></i></a>
            </div>
            <div class="side left gray">

            </div>
            <div class="side front gray">

            </div>
            <div class="side right gray">

            </div>
            <div class="side top gray">

            </div>
            <div class="side bottom gray">

            </div>
        </div>
    </div>
</div>
<div class="box">
    <div class="imgBx">
        <img src="/resources/img2.jpg">
    </div>
    <div class="content">
        <h2>Siddharth Vatsal<br>
            <span>
                   Creative Designer & Web developer
                </span>
        </h2>
    </div>
    <div class="container">
        <div class="cube">
            <div class="side back facebook">
                <a href="https://www.instagram.com/vatsalsiddharth/?hl=en" target="_blank"><img src="/resources/instagram.png"></a>
            </div>
            <div class="side left gray">

            </div>
            <div class="side front gray">

            </div>
            <div class="side right gray">

            </div>
            <div class="side top gray">

            </div>
            <div class="side bottom gray">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="cube">
            <div class="side back twitter">
                <img src="/resources/linkedin.png">
            </div>
            <div class="side left gray">

            </div>
            <div class="side front gray">

            </div>
            <div class="side right gray">

            </div>
            <div class="side top gray">

            </div>
            <div class="side bottom gray">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="cube">
            <div class="side back black">
                <a href="https://github.com/siddharth4001" target="_blank"><img src="/resources/github.png"></a>
            </div>
            <div class="side left gray">

            </div>
            <div class="side front gray">

            </div>
            <div class="side right gray">

            </div>
            <div class="side top gray">

            </div>
            <div class="side bottom gray">

            </div>
        </div>
    </div>

</div>
<div class="box">
    <div class="imgBx">
        <img src="/resources/img1.jpg">
    </div>
    <div class="content">
        <h2>Himanshi<br>
            <span>
                    Creative Designer & Web developer
                </span>
        </h2>
    </div>
    <div class="container">
        <div class="cube">
            <div class="side back facebook">
                <img src="/resources/instagram.png">
            </div>
            <div class="side left gray">

            </div>
            <div class="side front gray">

            </div>
            <div class="side right gray">

            </div>
            <div class="side top gray">

            </div>
            <div class="side bottom gray">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="cube">
            <div class="side back twitter">
                <a href="https://www.linkedin.com/in/himanshi-sharma-867488207/" target="_blank"><img src="/resources/linkedin.png"></a>
            </div>
            <div class="side left gray">

            </div>
            <div class="side front gray">

            </div>
            <div class="side right gray">

            </div>
            <div class="side top gray">

            </div>
            <div class="side bottom gray">

            </div>
        </div>
    </div>
    <div class="container">
        <div class="cube">
            <div class="side back black">
                <a href="https://github.com/Himanshi2511" target="_blank"> <img src="/resources/github.png"></a>
            </div>
            <div class="side left gray">

            </div>
            <div class="side front gray">

            </div>
            <div class="side right gray">

            </div>
            <div class="side top gray">

            </div>
            <div class="side bottom gray">

            </div>
        </div>
    </div>
</div>
</body>
</html>